{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "FrameworkDOM.createElement",
        "throwIfNamespace": false
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
