{
  "presets": [
    [
      "@babel/preset-react",
      {
        "pragma": "LumaJS.createElement",
        // "pragmaFrag": "DomFrag", // default is React.Fragment (only in classic runtime)
        "throwIfNamespace": false,
        "development": true
      }
    ]
  ]
}
